!!! 5

%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')/

  %body
    %h1
      = @user.firstname
      would like to know more about WeDidIt!

    %h2
      Prospect Report:
    %dl
      %dt
        Full Name:
        = @user.firstname + @user.lastname
      %dt
        Email:
        = @user.email
      %dt
        Question: Question 1
        %dd Answer: Anwer 1
      %dt
        Question: Question 2
        %dd Answer: Answer 2
      %dt
        Question: Question 3
        %dd Answer: Answer 3
