.page.lighter-blue
  .text-center
    %h1.demo-bold-txt Let's Get Started.
    %h4(ng-model="questions")
      {{ questions[0] }}
    %option-container(ng-init="answer")
      %label.blackshade-text.round-btn.yellow(for="no"  ng-click="addResponse('demo.two','No')")
        No
      %input(type="radio" ng-model="answer" id="no" value="No" )

      %label.white-text.round-btn.light-blue(for="yes" ng-click="addResponse('demo.two','Yes')")
        Yes
      %input(type="radio" ng-model="answer" id="yes" value="Yes")





