.page.lighter-blue(ng-style="resizePageContainer()" resize)
  .info.text-center
    %h1.demo-bold-txt Let's Get Started.
    %h4(ng-model="questions")
      {{ questions[0] }}
  %p.text-center
    %label(for="no"  ng-click="addResponse('demo.two','No')")
      %button.btn.btn-round.btn-yellow
        No
      %input(type="radio" ng-model="answer" id="no" value="No" )
    %label(for="yes" ng-click="addResponse('demo.two','Yes')")
      %button.btn.btn-round.btn-blue
        Yes
      %input(type="radio" ng-model="answer" id="yes" value="Yes")





