.page.whitesmoke
  .text-center
    %h1.blackshade-text.demo-bold-text Donating
    %h4.blackshade-text(ng-model="questions")
      {{ questions[1] }}
    %div(ng-controller="UserCtrl")
      %ng-form
        .option-container
          %label.whiteshade-text.round-btn.white(for="no" ng-click="submitAnswer('demo.three')")
            No
          %input(type="radio" id="no" ng-model="formData.q2" value="No" checked)

          %label.white-text.round-btn.blue(for="yes" ng-click="submitAnswer('demo.three')")
            Yes
          %input(type="radio" id="yes" ng-model="formData.q2" value="Yes")





