.page.whitesmoke
  .text-center
    %h1.blackshade-text.demo-bold-text Donating
    %h4.blackshade-text(ng-model="questions")
      {{ questions[1] }}
    .option-container
      %label.whiteshade-text.round-btn.white(for="no" ng-click="addResponse('demo.three','No')")
        No
      %input(type="radio" id="no" ng-model="answer" value="No")

      %label.white-text.round-btn.blue(for="yes" ng-click="addResponse('demo.three','Yes')")
        Yes
      %input(type="radio" id="yes" ng-model="answer" value="Yes")




