.page.whitesmoke
  .info.text-center
    %h1.blackshade-text.demo-bold-txt(tooltip="a fundraise technique where a group of individuals collectively raise money from their own personal networks for an organization or cause.")
      Peer to Peer Fundraising
    %h4.blackshade-text(ng-model="questions")
      {{ questions[3] }}
  %p.text-center
    %label(for="no" ng-click="addResponse('demo.five','No')")
      %button.btn.btn-round.btn-white
        No
      %input(type="radio" id="no" ng-model="answer" value="No")

    %label(for="yes" ng-click="addResponse('demo.five','Yes')")
      %button.btn.btn-round.btn-light-green
        Yes
      %input(type="radio" id="yes" ng-model="answer" value="Yes")
    %label(for="maybe" ng-click="addResponse('demo.five','Maybe')")
      %button.btn.btn-round.btn-yellow
        Maybe
      %input(type="radio" id="maybe" ng-model="answer" value="Maybe")




