.page
  .demo-section.green(ng-style="resizePageContainer()" resize)
    .center-block.text-center
      %span.icon-chat
      %h1
        %span.demo-bold-txt PEER To PEER
        Fundraising
      %h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque chaere, municipem potuimus facimus intellegere diuturnitatem meam erimus ignavia cognitionis momenti, placeat diligant theophrasti capti athenis populo videtis quas persius, detracto.
  .demo-section.whitesmoke(ng-style="resizePageContainer()" resize)
    %a.arrow-wrap.text-center(href="#section-2" id="section-2" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow

    .center-block.text-center
      %h1.text-uppercase.blackshade-text How it Works
      %h4.blackshade-text Lorem.Fortibus.Dissensio.
      .row
        .col-md-4.demo-border-right
          %h1 1
          %h2.text-uppercase.blue-text Lorem ipsum dolor.
          %p Lorem ipsum dolor sit amet. Carum etsi hae homo utramque. Desiderent cuius multo tradunt, levius.
        .col-md-4.demo-border-right
          %h1 2
          %h2.text-uppercase.blue-text Lorem ipsum dolor.
          %p Lorem ipsum dolor sit amet. Carum etsi hae homo utramque. Desiderent cuius multo tradunt, levius.
        .col-md-4
          %h1 3
          %h2.text-uppercase.blue-text Lorem ipsum dolor.
          %p Lorem ipsum dolor sit amet. Carum etsi hae homo utramque. Desiderent cuius multo tradunt, levius.

  .demo-section.blue(ng-style="resizePageContainer()" resize)
    .row.center-block.text-center
      .row
        .col-md-5
          %h1.demo-bold-txt Exponential Reach
          %h4 Lorem ipsum dolor sit amet.Studuisse eveniunt aperiam sapientia vestrae. Intellegere sequitur aspernatur ferae legerint. Duo arbitramur magnis dein efficiat. Naturales detracta expedire fugiat, laus. Quietem consumere petat interpretaris quoddam. Suscipiantur sumitur vacare miserius vexetur. Confirmavit iudicabit propter nosmet theseo.
        .col-md-7
          = image_tag "reach.png", :class => "img-responsive", :alt => "Exponential Reach"
  .demo-section.whitesmoke(ng-style="resizePageContainer()" resize)
    .row.center-block.text-center
      .row
        %h1.demo-bold-txt.blackshade-text
          Reach your goal with
          %br/
          the power of your network
        %h4.blackshade-text Lorem.Fortibus.Dissensio.
        %a.demo-btn.blackshade.white-text(ui-sref="demo.five") See out Mobile APP




