.page
  .demo-section.whitesmoke.padding-top(ng-style="resizePageContainer()")
    .center-block.text-center
      %span.icon-mobile.blue-text(style="font-size: 10em")
      %h1.demo-bold-txt.blackshade-text Your Pocket Fundraising Tool
      %h4.blackshade-text
        Now you can empower anyone to collect donations for you with a secure mobile app.
        %br/
        This is the ultimate power tool for taking donations in person.
  .demo-section.blue.section-pull-up.mobile_fundraising(ng-style="resizePageContainer()" resize)
    %a.arrow-wrap.text-center(href="#section-2" id="section-2" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow
    .col-md-5.pull-right(style="margin-right: 165px")
      .center-block.text-center(style="z-index: 1000")
        %h1.demo-bold-text Fundraise Anywere, At Anytime.
        %h4 No hardware needed

  .demo-section.whitesmoke.section-pull-up(ng-style="resizePageContainer()" resize)
    %a.arrow-wrap.text-center(href="#section-3" id="section-3" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow
    .center-block.text-center
      %h1.demo-bold-txt.blackshade-text.text-uppercase Quick Transactions
      .row(style="margin-top: 50px")
        .col-md-11.col-md-offset-1
          .col-md-5
            = image_tag "mobile_black.gif", :class => "img-responsive", :alt => "Black Mobile"
          .col-md-6.text-left
            %h2.demo-bold-txt.blue-text Safe & Secure
            %h4.blackshade-text Accept donations anywhere by turning your smartphone camera into a credit card reader.
  .demo-section.cyan.section-pull-up(ng-style="resizePageContainer()" resize)
    %a.arrow-wrap.text-center(href="#section-4" id="section-4" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow
    .center-block.text-center
      %iframe(src="//player.vimeo.com/video/54294990" width="600" height="381" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .info.text-center
      %a{:href => "http://vimeo.com/54294990"}
        WeDidIt: Expert Crowdfunding Tools for Nonprofits from
      %a{:href => "http://vimeo.com/wediditnyc"}
        WeDidIt on
      %a{:href => "https://vimeo.com"} Vimeo
    %p.text-center
      %a(ui-sref="demo.seven")
        %button.btn.btn-rectangle.btn-whitesmoke.blue-text.text-uppercase
          SHOW ME DONOR INSIGHTS

/ .center-block.text-center
/   .col-md-5
/     = image_tag "mobile_white.gif", :class => "img-responsive", :alt => "White Mobile"
/   .col-md-7
/     %h1.demo-bold-text Fundraise Anywere, At Anytime.
/     %h4 Lorem.Fortibus.Dissensio.


