.page
  .demo-section.blue.padding-top(ng-style="resizePageContainer()" resize)
    .center-block.text-center
      %span.icon-coin-bank
      %h1
        %span.demo-bold-txt WEDIDIT INSIGHTS
        %br/
        Increase Donations &
        %br/
        Decrease Spending
      %h4
        The platform helps you identify the giving capacity and propensity of all of your donors.
        %br/
        The Insights tool will uncover the wealth behind your CRM or email list so that you can focus your time accordingly.
  .demo-section.whitesmoke.section-pull-up(ng-style="resizePageContainer()" style="padding-top: 6em"  resize)
    %a.arrow-wrap.text-center(href="#section-2" id="section-2" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow
    .center-block.text-center
      = image_tag "donorprospecting.gif", :alt => "WEDIDIT Insights"
  .demo-section.yellow(ng-style="resizePageContainer()" resize)
    %a.arrow-wrap.text-center(href="#section-3" id="section-3" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow
    .center-block.text-center
      .row
        .col-md-11.col-md-offset-1
          .col-md-7
            = image_tag "targetedreach.gif", :class => "img-responsive", :alt => "Targeted Fundraising"
          .col-md-5
            %h1.demo-bold-txt Targeted Online Fundraising
            .text-left
              %h4 Segment your donor list to identify the folks who are most likely to give.
              %br/
              %h4 Sort donors by:
              %ul.list-unstyled
                %li
                  %h3
                    %span.icon.icon-check-box
                      Salary range
                %li
                  %h3
                    %span.icon.icon-check-box
                      Location
                %li
                  %h3
                    %span.icon.icon-check-box
                      Social media presence
              %h2
                %span.animated.inifinite.pulse
                  and more!


  .demo-section.whitesmoke(ng-style="resizePageContainer()" resize)
    %a.arrow-wrap.text-center(href="#section-4" id="section-4" du-smooth-scroll)
      %span.glyphicon.glyphicon-chevron-down.arrow
    .center-block.text-center
      .row.margin-bottom.text-left
        .col-md-8
          = image_tag "donorpagesample.png", :class => "img-responsive", :alt => "Donor Page Insights"
        .col-md-4
          %h1.demo-bold-txt.blackshade-text
            We'll Do The
            %br/
            Work For You
          %h4.blackshade-text Lorem.Fortibus.Dissensio.

      .col-md-6.col-md-offset-3
        %p.text-center
          %a(ng-click="optsIn = !optsIn" ng-show="!optsIn")
            %button.btn.btn-rectangle.btn-blackshade
              Send Me More Info
        %div(ng-show="optsIn")
          %form(name="userForm")
            .form-group(show-errors="{ showSuccess: true }")
              %input.form-control(type="text" placeholder="Enter First Name" name="firstname" ng-model="firstname" required)

            .form-group(show-errors="{ showSuccess: true }")
              %input.form-control(type="text" placeholder="Enter Last Name" name="name" ng-model="lastname")

            .form-group(show-errors="{ showSuccess: true }")
              %input.form-control(type="email" placeholder="Email" name="email" ng-model="email" required)

            .form-group
              %input.btn.btn-rectangle.btn-light-green(type="submit" ng-click="submitResponse()" analytics-on="click" analytics-event="Demo End" value="Send Me Info")


