.page.whitesmoke
  .text-center
    %h1.blackshade-text Thank you!
    %ul(ng-social-buttons data-url="'http://wedid.it/demo'" data-title="'Fundraising Redefined'" data-description="'test2'" data-image="'http://s3.mistinfo.com/32/d8/32d8eab76f4c242f665bda66b5edc6c5.jpg'")
      %li.ng-social-facebook Facebook
      %li.ng-social-twitter Twitter
