.container
  .row
    .col-md-6.col-md-offset-3
      .push-down
        .alert.alert-danger(role="alert" ng-show="error")
          {{ error }}
        %br/
        %form(ng-submit="handleLoginBtnClick()" role="form" ng-init="loginForm = {}")
          .form-group
            %input.form-control(type="email" name="email" id="email" ng-model="loginForm.email" required="required" placeholder="Email")
          .form-group
            %input.form-control(type="password" name="password" id="password" ng-model="loginForm.password" required="required" placeholder="Password")
          .form-group
            %button(type="submit" class="btn btn-primary btn-lg")
              Sign in