/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#demo-page-container { position:relative; }

#page-view { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#page-view.ng-enter,
#page-view.ng-leave {
  position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease-in-out;
  -moz-transition:0.5s all ease-in-out;
  -webkit-transition:0.5s all ease-in-out;
}

/* enter animation */
#page-view.ng-enter {
  -webkit-animation:slideInRight 0.5s both ease-in-out;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease-in-out;
}

/* leave animation */
#page-view.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease-in-out;
  -moz-animation:slideOutLeft 0.5s both ease-in-out;
  animation:slideOutLeft 0.5s both ease-in-out;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}