
/* New styles

*/



/* wedidit.com bootstrap theme */

body { background-color: #EEEEEE; color:#373737; font-family:'Roboto Slab', serif;}
h2 { padding-top:0; color:#999;}
p { color:#999;}
header { color:#fff; height:50px; }
header h4 { font-size:30px;}
header h1 { padding-top:0;}

header, footer { background-color:#89c269; }
footer { bottom:0; position:relative; top:200px; height:200px;}
header h1, .h1, h2, .h2, h3, .h3 { margin:0;}
.content1 h1, .content1 h2, .content1 h3, .content1 h4, .content1 h5, .content1 h6 { color:#7B7B7B;}
nav { margin-top:-40px;}

.navbar-success { background-color: #89c269; color:#fff; border-bottom: #041d2a; box-shadow: 0px 0px 3px #041d2a;}
.navbar-success a { color:#fff;}
.navbar-success a:hover, .navbar-success a:focus  { text-decoration: none;}

.logo  { margin-top:10px; font-size:25px; color:#fff;}
.content1 {
width: 35%;
margin: 150px auto;
background: #FFFFFF;
border: 1px solid #89c269;
}

.tiny-list li a { font-size:13px; }

.tt-dropdown-menu {
background-color: #fff;
border: 1px solid #DBDBDB;
padding: 28px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color: #7BA862;
border-color: #428bca; }

.top-values { width:98%; margin:0 auto; text-align:center;}
.zerogrid { width:83%;}

.categories input { width:50% !important; display:inline-block;}
.categories a.btn-danger { display: inline-block; clear: none; width: 40px; }
	.index-list { margin:0 auto; width:200px;}
    .index-list li { text-align:left; font-size:20px;}

    .subtext { font-size:13px; line-height:15px; width:80%; margin:0 auto; text-align:center;}
.more-top { margin-top:200px;}
.less-top { margin-top:-10px;}

.tools { background-color:#fff; height: 170px; padding: 30px 0px; min-width:180px; margin:10px 0 !important; border:1px solid #89c269;}
.tools:hover { box-shadow:3px 3px 3px rgba(0, 0, 0, 0.09);}
.top-top { margin-top:115px !important;}
.panel { padding-bottom:20px;}

.breadcrumb i { font-size:17px; font-weight:bold; margin-right:5px;}
.breadcrumb a i:hover { color:#999;}

#sidebar.affix {
    position: fixed;
    top:25px;
    width:228px;
  }

  .feature-list { width:50%; margin:0 auto;}



  .green-check { color:#89c269; font-size:20px; float:right;}
  .gray-x { color:#CACACA; font-size:20px; float:right; }

.progress-bar-success { background-image: linear-gradient(to bottom,#89c269 0,#84B966 100%);}
.content1 { width:35%; margin:150px auto 50px; background:#F7F7F7;}
.content2 { width:55%; margin:80px auto;}
.content3 { width:85%; margin:50px auto; min-width:1140px;}
.content2 h1, .content2 h2, .content2 h3, .content2 h4, .content3 h1, .content3 h3, .content3 h2, .content3 h4 { color:#999; }

.btn-wedidit { background-color:#89c269; color:#fff; border-radius:2px;}
.btn-not-block { width:200px; margin:0 auto; }
.btn-huge { font-size:24px !important;}
.centered h1 { float:none;}
.centered { margin:0 auto; text-align:center;}

label { color:#999; font-size:18px; line-height:30px; font-weight:lighter;}
label:hover { position:relative; top:-1px;}

nav li a { font-size:20px;}
nav ul.dropdown-menu li a { font-size:10px;}

.breadcrumb li input { margin:-24px auto; padding:10px;}

.popover-content { color:#999; font-weight:normal;}

.campaigns-table tbody tr  { opacity:0.85; }
.campaigns-table tbody tr:hover { opacity:1; }

.bootstrap-datetimepicker-widget { top:438px !important;}


.autocomplete-suggestions { margin-top:-100px; border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


.form-contain { width:500px; margin:40px auto; padding:0 0 40px 0px;}

.contain1 { padding:0 8%;}

.ui-datepicker { width:500px; position:relative ; top:100px ;}

.addpadd { padding:30px;}

.nav-top { margin-top:45px;}

.table>thead>tr>th { text-align: center;}

.box_inner table { font-size:90%;}

.box:hover { background-color: rgba(137, 194, 105, 0.65);}
.box:hover .text1 { color:#fff;}
.box { padding:20px;}

td.message { max-width:50px; }

.form-control { width:90%; padding:24px 12px; margin:18px auto;}

.table-input { width: 90%;
padding: 13px 4px;
margin: 7px auto;
}

.modal h1 { color:#000; margin-bottom:20px;}
.modal-content { padding:20px;}
.ninja-fade-in {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​


/** wysiwyg plugin styles */


code
{
    background: #f3f3f3;
    border: 1px solid #ddd;
    padding: 1px 4px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

abbr
{
    border-bottom: 1px dotted #555;
    cursor: pointer;
}

.new, .beta
{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 4px;
    margin: 0 0 0 5px;
    color: #fff;
    float: right;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.new
{
    background: #FF7E00;
    border: 1px solid #DA8028;
    text-shadow: 0 1px 0 #C97626;

    -moz-box-shadow: 0 2px 3px 0 #FFA54E inset;
    -webkit-box-shadow: 0 2px 3px 0 #FFA54E inset;
    box-shadow: 0 2px 3px 0 #FFA54E inset;
}

.beta
{
    background: #18C0DF;
    border: 1px solid #19AAD8;
    text-shadow: 0 1px 0 #048CAD;
    font-style: italic;

    -moz-box-shadow: 0 2px 3px 0 #50D4FD inset;
    -webkit-box-shadow: 0 2px 3px 0 #50D4FD inset;
    box-shadow: 0 2px 3px 0 #50D4FD inset;
}

h1.samples
{
    color: #0782C1;
    font-size: 200%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1.samples a
{
    color: #0782C1;
    text-decoration: none;
    border-bottom: 1px dotted #0782C1;
}

.samples a:hover
{
    border-bottom: 1px dotted #0782C1;
}

h2.samples
{
    color: #000000;
    font-size: 130%;
    margin: 15px 0 0 0;
    padding: 0;
}

p, blockquote, address, form, pre, dl, h1.samples, h2.samples
{
    margin-bottom: 15px;
}

ul.samples
{
    margin-bottom: 15px;
}

.clear
{
    clear: both;
}

fieldset
{
    margin: 0;
    padding: 10px;
}


a.samples
{
    color: #189DE1;
    text-decoration: none;
}

form
{
    margin: 0;
    padding: 0;
}

pre.samples
{
    background-color: #F7F7F7;
    border: 1px solid #D7D7D7;
    overflow: auto;
    padding: 0.25em;
    white-space: pre-wrap; /* CSS 2.1 */
    word-wrap: break-word; /* IE7 */
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    tab-size: 4;
}

#footer
{
    clear: both;
    padding-top: 10px;
}

#footer hr
{
    margin: 10px 0 15px 0;
    height: 1px;
    border: solid 1px gray;
    border-bottom: none;
}

#footer p
{
    margin: 0 10px 10px 10px;
    float: left;
}

#footer #copy
{
    float: right;
}

#outputSample
{
    width: 100%;
    table-layout: fixed;
}

#outputSample thead th
{
    color: #dddddd;
    background-color: #999999;
    padding: 4px;
    white-space: nowrap;
}

#outputSample tbody th
{
    vertical-align: top;
    text-align: left;
}

#outputSample pre
{
    margin: 0;
    padding: 0;
}

.description
{
    border: 1px dotted #B7B7B7;
    margin-bottom: 10px;
    padding: 10px 10px 0;
    overflow: hidden;
}

label
{
    display: block;
    margin-bottom: 6px;
}

/**
 *  CKEditor editables are automatically set with the "cke_editable" class
 *  plus cke_editable_(inline|themed) depending on the editor type.
 */

/* Style a bit the inline editables. */
.cke_editable.cke_editable_inline
{
    cursor: pointer;
}

/* Once an editable element gets focused, the "cke_focus" class is
   added to it, so we can style it differently. */
.cke_editable.cke_editable_inline.cke_focus
{
    box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
    outline: none;
    background: #eee;
    cursor: text;
}

/* Avoid pre-formatted overflows inline editable. */
.cke_editable_inline pre
{
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 *  Samples index styles.
 */

.twoColumns,
.twoColumnsLeft,
.twoColumnsRight
{
    overflow: hidden;
}

.twoColumnsLeft,
.twoColumnsRight
{
    width: 45%;
}

.twoColumnsLeft
{
    float: left;
}

.twoColumnsRight
{
    float: right;
}

dl.samples
{
    padding: 0 0 0 40px;
}
dl.samples > dt
{
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 3px;
}
dl.samples > dd
{
    margin: 0 0 3px;
}
.warning
{
    color: #ff0000;
    background-color: #FFCCBA;
    border: 2px dotted #ff0000;
    padding: 15px 10px;
    margin: 10px 0;
}

/* Used on inline samples */

blockquote
{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

.cke_contents_ltr blockquote
{
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

img.right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}

img.left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}


/** JQGRID OVERRIDES **/
.ui-widget-content { margin:55px auto !important;}
.ui-widget-header { background:#89c269 !important; border-radius:0px; padding: 10px 0 !important; color: #fff !important;}
.ui-jqgrid-htable { width:100% !important;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-radius:0 !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background:#fff !important;}
