!!! 5
%html
  %head
    %title Demo Tool
    = stylesheet_link_tag    :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body(ng-app="SSDemoApp")
    %header#demo-header
      .navbar.demo-navbar.navbar-fixed-top{ :role => "navigation" }
        .container-fluid
          .navbar-header
            %p.navbar-brand
              %a.demo-logo{:href => "/" }
          .collapse.navbar-collapse(ng-controller="NavigationCtrl")
            %ul.nav.navbar-nav.pull-right
              %li.blackshade-text WEDIDIT Self Service Demo
              %li{ :title => "Survey" }
                %span.indicator(ng-click="go('demo.one')" ng-class="{active:isActive('demo.one')}")
              %li{ :title => "Survey" }
                %span.indicator(ng-click= "go('demo.two')" ng-class="{active: isActive('demo.two')}")
              %li{ :title => "Survey" }
                %span.indicator(ng-click="go('demo.three')" ng-class="{active: isActive('demo.three')}")
              %li{ :title => "Peer Campaign" }
                %span.indicator(ng-click="go('demo.four')" ng-class="{active:isActive('demo.four')}")
              %li{ :title => "Mobile Fundraising" }
                %span.indicator(ng-click="go('demo.five')" ng-class="{active:isActive('demo.five')}")
              %li{ :title => "Donor Insights"}
                %span.indicator(ng-click="go('demo.six')" ng-class="{active:isActive('demo.six')}")
              %li{ :title => "Share" }
                %span.indicator(ng-class="{active:isActive('demo.end')}")

    #demo-page-container
      = yield
